# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
modules.xml
Real-Time Collaborative Task Board.iml
vcs.xml
.gitignore